body{
    padding: 20px;
    background: rgb(24, 24, 185);
}

*{
    font-family: cursive;
    font-size: 25px;
}

div.resul{
    color: white;
}

label{
    color: white;
}

.container{
    justify-content: center;
    display: block;
    margin: auto;
    padding: 15px;
    height: 85vh;
    width: 55vh;
    text-align: center;
    border: 2px solid rgb(61, 61, 226);
    background: rgb(61, 61, 226);
    cursor: pointer;
    box-shadow: 20px 20px 25px;
}

h1{
    color: white;
}

.input{
    display: block;
    padding: 0 30px 0 40px;
    border-radius: 10px;
    margin: 15px;
}

.btn{
    width: 200px;
    margin: 35px;
    background: white;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black; 
}

.btn:hover{
    color: white;
    background: rgb(61, 61, 226);
    transition: 1s;
}

.select{
    height: 30px;
    width: 250px;
    margin: 15px;
}

p{
    color: white;
}